<!-- third/detail.html -->
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>{{ restaurant.name }} 상세 정보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'third/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/list">음식점</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/third/list">음식점 리스트<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/third/create">음식점 등록</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>{{ restaurant.name }} 상세 정보</h1>
        <p><strong>주소:</strong> {{ restaurant.address }}</p>
        <p><strong>등록 날짜:</strong> {{ restaurant.created_at }}</p>
        <p><strong>수정 날짜:</strong> {{ restaurant.updated_at }}</p>
        <a href="{% url 'list' %}" class="btn btn-primary">목록으로 돌아가기</a>

        <form action="{% url 'restaurant-delete' restaurant.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">삭제하기</button>
        </form>

    </div>
</body>
</html>
